Repository hsaeed3/zyx: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, uv-sync-check, ty-check

uv-lock-check:
  name: Check uv.lock is up-to-date
  entry: uv
  args:
  - lock
  - --check
  language: system
  pass_filenames: false

uv-sync-check:
  name: Verify dependencies can be installed
  entry: uv
  args:
  - sync
  - --check
  language: system
  pass_filenames: false

ty-check:
  name: Run Type Check (ty)
  entry: uv
  args:
  - run
  - ty
  - check
  - --ignore
  - unresolved-import
  language: system
  pass_filenames: false

feat: introduce core components for zyx package including models, context management, and provider utilities
  zyx/__init__.py
  zyx/core/__init__.py
  zyx/core/context.py
  zyx/gen/__init__.py
  zyx/gen/make.py
  zyx/model.py
  zyx/providers/__init__.py
  zyx/providers/anthropic/__init__.py
  zyx/providers/gemini/__init__.py
  zyx/providers/openai/__init__.py
  zyx/result.py
Due: ty-check

chore(docs): configure theme and index hero for zensical docs
  .gitignore
  docs/assets/zyx-dark.png
  docs/assets/zyx-light.png
  docs/index.md
  docs/stylesheets/extras.css
  zensical.toml
Due: none

feat(docs): enhance documentation structure and add new sections for context, semantic operations, and installation
  docs/attachments/resources.md
  docs/attachments/snippets.md
  docs/context/memory.md
  docs/context/prompting.md
  docs/context/spans.md
  docs/core-concepts/attachments.md
  docs/core-concepts/context.md
  docs/core-concepts/semantic-operations.md
  docs/core-concepts/tool-use.md
  docs/getting-started/installation.md
  docs/index.md
  docs/semantic-operations/edit.md
  docs/semantic-operations/evaluate.md
  docs/semantic-operations/make.md
  docs/semantic-operations/parse.md
  docs/semantic-operations/query.md
  docs/semantic-operations/run.md
  docs/stylesheets/extras.css
  zensical.toml
Due: none

chore: clear pre-existing package strcture and deps for implementation
  pyproject.toml
  uv.lock
  zyx/__init__.py
  zyx/core/__init__.py
  zyx/core/context.py
  zyx/gen/__init__.py
  zyx/gen/make.py
  zyx/model.py
  zyx/providers/__init__.py
  zyx/providers/anthropic/__init__.py
  zyx/providers/gemini/__init__.py
  zyx/providers/openai/__init__.py
  zyx/result.py
Due: uv-lock-check, uv-sync-check, ty-check

chore(pre-commit): run pre-commit over docs
  docs/attachments/resources.md
  docs/attachments/snippets.md
  docs/context/memory.md
  docs/context/prompting.md
  docs/context/spans.md
  docs/core-concepts/attachments.md
  docs/core-concepts/context.md
  docs/core-concepts/semantic-operations.md
  docs/core-concepts/tool-use.md
  docs/getting-started/installation.md
  docs/index.md
  docs/semantic-operations/edit.md
  docs/semantic-operations/evaluate.md
  docs/semantic-operations/make.md
  docs/semantic-operations/parse.md
  docs/semantic-operations/run.md
Due: none

feat(core): implement core request utils and types for interacting with `pydantic-ai` && implement barebones `zyx.make()` and `zyx.amake()`
  pyproject.toml
  tests/test_processing_outputs.py
  tests/test_utils_prettify.py
  uv.lock
  zyx/__init__.py
  zyx/exceptions.py
  zyx/operations/__init__.py
  zyx/operations/make.py
  zyx/processing/__init__.py
  zyx/processing/messages.py
  zyx/processing/outputs.py
  zyx/results.py
  zyx/types.py
  zyx/utils/__init__.py
  zyx/utils/core.py
  zyx/utils/prettify.py
Due: uv-lock-check, uv-sync-check, ty-check

chore: update pre commit hook for ruff
  .pre-commit-config.yaml
Due: none

docs: include `mkdocstrings-python` and add doc stubs for make()/amake()
  docs/api-reference.md
  docs/semantic-operations/make.md
  pyproject.toml
  uv.lock
  zensical.toml
Due: uv-lock-check, uv-sync-check

feat(core): implement core request utils and types for interacting with `pydantic-ai` && implement barebones `zyx.make()` and `zyx.amake()`
  tests/test_processing_outputs.py
  tests/test_utils_prettify.py
  zyx/exceptions.py
  zyx/operations/__init__.py
  zyx/processing/__init__.py
  zyx/processing/messages.py
  zyx/types.py
  zyx/utils/__init__.py
  zyx/utils/core.py
  zyx/utils/prettify.py
Due: ty-check

chore(formatting): ensure docstrings adhere to google format
  zyx/operations/make.py
  zyx/results.py
Due: ty-check

chore(docs): swap to `Zed Mono` and `Zed Sans` ttf fonts.
  docs/api-reference.md
  docs/fonts/zed-mono-extended.ttf
  docs/fonts/zed-sans-extended.ttf
  docs/stylesheets/extras.css
Due: none

chore(docs): update site url
  zensical.toml
Due: none

chore(docs): update site URL to new GitHub Pages link
  zensical.toml
Due: none

chore(docs): update zensical build command to include custom config file
  .github/workflows/docs.yml
Due: none

chore(docs): add mkdocstrings-python to dependencies for documentation build
  .github/workflows/docs.yml
Due: none

fix(docs): fix mkdocstrings path
  zensical.toml
Due: none

chore(docs): update site URL to new custom domain
  zensical.toml
Due: none

chore(docs): remove outdated site URL from configuration
  zensical.toml
Due: none

chore(docs): remove config level font settings from `zensical.toml`
  zensical.toml
Due: none

chore(docs): remove Python inventory configuration from mkdocstrings settings
  zensical.toml
Due: none

feat(core): implement core level components && prepare `zyx._graph` submodule for node & run implementation && update project deps
  pyproject.toml
  tests/test_processing_outputs.py
  tests/test_utils_prettify.py
  uv.lock
  zyx/__init__.py
  zyx/_aliases.py
  zyx/_graph/__init__.py
  zyx/_graph/_context.py
  zyx/_processing/__init__.py
  zyx/_processing/_messages.py
  zyx/_processing/_multimodal.py
  zyx/_processing/_outputs.py
  zyx/_processing/_toon.py
  zyx/_types.py
  zyx/_utils/__init__.py
  zyx/_utils/_outputs.py
  zyx/context.py
  zyx/exceptions.py
  zyx/operations/__init__.py
  zyx/operations/make.py
  zyx/processing/__init__.py
  zyx/processing/messages.py
  zyx/processing/outputs.py
  zyx/result.py
  zyx/results.py
  zyx/snippets.py
  zyx/stream.py
  zyx/targets.py
  zyx/types.py
  zyx/utils/__init__.py
  zyx/utils/core.py
  zyx/utils/prettify.py
Due: uv-lock-check, uv-sync-check, ty-check

refactor(context): clean up imports and improve docstrings in `_context.py`, add `_RunContext` class in `_messages.py`, and includeinstruction parsing logic
  zyx/_graph/_context.py
  zyx/_processing/_messages.py
  zyx/_processing/_outputs.py
  zyx/_utils/_outputs.py
Due: ty-check

feat(core._graph): introduce `SemanticGraph` for handling core level `pydantic_ai` logic for requests && implement `make`, `parse` and `validate` semantic operations.
  zyx/__init__.py
  zyx/_confidence.py
  zyx/_graph/__init__.py
  zyx/_graph/_context.py
  zyx/_graph/_nodes.py
  zyx/_graph/_requests.py
  zyx/_types.py
  zyx/context.py
  zyx/operations/__init__.py
  zyx/operations/make.py
  zyx/operations/parse.py
  zyx/operations/validate.py
  zyx/result.py
  zyx/targets.py
Due: ty-check

chore(confidence): add author/idea credits to `zyx._confidence`
  zyx/_confidence.py
Due: ty-check

feat(targets): include `validate` methods on `Target` class.
  zyx/targets.py
Due: ty-check

chore(build): update `pyproject.toml` to exclude documentation and tests from source and wheel builds
  pyproject.toml
Due: uv-lock-check, uv-sync-check

chore: Update readme.md
  readme.md
Due: none

chore(pre-commit): remove unresolved-import argument from type check command
  .pre-commit-config.yaml
Due: none

chore(dependencies): update `pydantic-ai-slim` to version 1.58.0 and add optional dependencies for AI, code, and chroma
  pyproject.toml
  uv.lock
Due: uv-lock-check, uv-sync-check

feat(graph): enhance `SemanticGraph` with error handling and target hooks; introduce `AbstractResource` for resource management
  zyx/_graph/__init__.py
  zyx/_graph/_context.py
  zyx/_graph/_nodes.py
  zyx/_graph/_requests.py
  zyx/resources/__init__.py
  zyx/resources/abstract.py
Due: ty-check

refactor(targets): streamline imports and enhance `Target` class with improved hook functionality and parameter handling
  zyx/targets.py
Due: ty-check

chore(build): update `pyproject.toml` to exclude `/docs` from source distribution
  pyproject.toml
Due: uv-lock-check, uv-sync-check

feat(docs): add `select` and `validate` operations to docs; refactor existing operation docstrings for more consistent parameter structure and inference within docs
  docs/api-reference.md
  docs/core-concepts/semantic-operations.md
  docs/index.md
  docs/semantic-operations/edit.md
  docs/semantic-operations/evaluate.md
  docs/semantic-operations/expressions.md
  docs/semantic-operations/parse.md
  docs/semantic-operations/query.md
  docs/semantic-operations/run.md
  docs/semantic-operations/select.md
  docs/semantic-operations/validate.md
  zensical.toml
  zyx/_graph/_requests.py
  zyx/_processing/_multimodal.py
  zyx/operations/edit/__init__.py
  zyx/operations/expressions.py
  zyx/operations/make.py
  zyx/operations/parse.py
  zyx/operations/query.py
  zyx/operations/select.py
  zyx/operations/validate.py
Due: ty-check

feat(operations): enhance selection functionality with reason support and refactor selection handling
  zyx/_graph/_requests.py
  zyx/_processing/_multimodal.py
  zyx/operations/select.py
Due: ty-check

chore(ruff)
  zyx/_processing/_multimodal.py
  zyx/_processing/_outputs.py
  zyx/operations/edit/__init__.py
  zyx/operations/edit/strategy.py
  zyx/resources/abstract.py
  zyx/resources/code.py
  zyx/resources/file.py
  zyx/resources/memory/chroma.py
Due: ty-check

refactor(docs): streamline navigation structure, remove outdated sections, and enhance core concepts documentation
  docs/api-reference.md
  docs/assets/fonts/zed-mono-extended.ttf
  docs/assets/fonts/zed-sans-extended.ttf
  docs/attachments/resources.md
  docs/attachments/snippets.md
  docs/context/memory.md
  docs/context/prompting.md
  docs/context/spans.md
  docs/core-concepts/attachments.md
  docs/core-concepts/context.md
  docs/core-concepts/resources.md
  docs/core-concepts/results.md
  docs/core-concepts/semantic-operations.md
  docs/core-concepts/snippets.md
  docs/core-concepts/targets.md
  docs/core-concepts/tool-use.md
  docs/getting-started/installation.md
  docs/index.md
  docs/semantic-operations/edit.md
  docs/semantic-operations/expressions.md
  docs/semantic-operations/make.md
  docs/semantic-operations/parse.md
  docs/semantic-operations/query.md
  docs/semantic-operations/select.md
  docs/semantic-operations/validate.md
  docs/stylesheets/extras.css
  zensical.toml
Due: none

feat(memory): add Qdrant memory provider and update Memory class initialization
  pyproject.toml
  uv.lock
  zyx/resources/memory/__init__.py
  zyx/resources/memory/qdrant.py
Due: uv-lock-check, uv-sync-check, ty-check

docs(agents): add comprehensive documentation for `zyx` core concepts, semantic operations, and resource management
  AGENTS.md
Due: none

chore(toml, docs): update `pyproject.toml` with additional Python version classifiers and enhance README with badges and detailed library features
  docs/index.md
  pyproject.toml
  readme.md
Due: uv-lock-check, uv-sync-check

docs(core): update resource, results, snippets, and targets documentation to indicate ongoing progress
  docs/core-concepts/resources.md
  docs/core-concepts/results.md
  docs/core-concepts/snippets.md
  docs/core-concepts/targets.md
Due: none

Path conditions:
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  uv-sync-check: any of: ^(pyproject\.toml|uv\.lock)$
  ty-check: any of: \.py$
