Repository hsaeed3/zyx: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, uv-sync-check, ty-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        name: Run Linter Check (Ruff)
        args: [--fix, --unsafe-fixes]
      - id: ruff-format
        name: Run Formatter (Ruff)

  - repo: local
    hooks:
      - id: uv-lock-check
        name: Check uv.lock is up-to-date
        entry: uv
        args: [lock, --check]
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

      - id: uv-sync-check
        name: Verify dependencies can be installed
        entry: uv
        args: [sync, --check]
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

      - id: ty-check
        name: Run Type Check (ty)
        entry: uv
        args: [run, ty, check, --ignore, unresolved-import]
        language: system
        types: [python]
        pass_filenames: false

chore: add __all__ exports to missing files & fix ty errors
  zyx/_confidence.py
  zyx/_graph/_context.py
  zyx/_graph/_nodes.py
  zyx/_graph/_requests.py
  zyx/_processing/_messages.py
  zyx/_processing/_multimodal.py
  zyx/_types.py
  zyx/context.py
  zyx/operations/edit/__init__.py
  zyx/operations/edit/strategy.py
  zyx/operations/make.py
  zyx/operations/query.py
  zyx/operations/select.py
  zyx/resources/__init__.py
  zyx/resources/abstract.py
  zyx/resources/code.py
  zyx/resources/file.py
  zyx/resources/memory/__init__.py
  zyx/resources/memory/chroma.py
  zyx/resources/memory/qdrant.py
  zyx/result.py
  zyx/snippets.py
  zyx/stream.py
  zyx/targets.py
Due: ty-check

chore(readme): update `pydantic-ai` message example
  readme.md
Due: none

fix: add `pydantic_ai.UserError` fallback in the case native structured outputs are not supported for a model provider
  zyx/_graph/_nodes.py
Due: ty-check

chore(dependencies): add `pydantic-monty` to project dependencies and update lock file
  pyproject.toml
  uv.lock
Due: uv-lock-check, uv-sync-check

docs(agents): refine AGENTS.md for clarity and consistency, update semantic operation descriptions, and enhance context and attachments sections && ensure removal of depcrecated artifacts
  AGENTS.md
Due: none

chore(.gitignore): include `__marimo__/` within ignored content
  .gitignore
Due: none

chore(dependencies): add `pydantic-monty` as first-class dependency for usage within `zyx.run()`
  pyproject.toml
  uv.lock
Due: uv-lock-check, uv-sync-check

chore(docs): add site_url and repo_url to zensical.toml for project metadata
  zensical.toml
Due: none

feat(examples): add initial example notebooks and styling for marimo integration
  examples/README.md
  examples/head.html
  examples/semantic-operations/make.py
Due: ty-check

docs(examples): update README with example usage and enhance `make.py` function signatures for clarity
  examples/README.md
  examples/semantic-operations/make.py
Due: ty-check

chore: move confidence module under `zyx/_utils`
  zyx/_utils/_confidence.py
Due: ty-check

test: add comprehensive unit tests for attachments, context, graph nodes, processing messages, and utility functions to ensure robust functionality and coverage
  tests/test_attachments.py
  tests/test_context.py
  tests/test_graph_ctx.py
  tests/test_graph_nodes.py
  tests/test_graph_requests.py
  tests/test_processing_messages.py
  tests/test_processing_multimodal.py
  tests/test_processing_outputs_models.py
  tests/test_processing_toon.py
  tests/test_targets.py
  tests/test_utils_confidence.py
  tests/test_utils_outputs.py
  tests/test_utils_semantic.py
Due: ty-check

refactor(aliases): update type definitions to use TypeAlias for improved clarity and maintainability
  zyx/_aliases.py
Due: ty-check

feat(attachments): introduce `Attachment` class to handle multimodal content and replace deprecated `Snippet` class; implement `attach` and `paste` functions for content management.
  zyx/attachments.py
  zyx/resources/__init__.py
  zyx/resources/abstract.py
  zyx/resources/code.py
  zyx/resources/file.py
  zyx/resources/memory/__init__.py
  zyx/resources/memory/chroma.py
  zyx/resources/memory/qdrant.py
  zyx/snippets.py
Due: ty-check

refactor(observability): integrate observer hooks into semantic operations for enhanced monitoring and debugging capabilities; update relevant functions to support observation during execution
  zyx/_graph/_context.py
  zyx/operations/expressions.py
  zyx/operations/make.py
  zyx/operations/parse.py
  zyx/operations/query.py
  zyx/operations/select.py
  zyx/operations/validate.py
Due: ty-check

feat(run): implement `run` semantic operation
  zyx/operations/run.py
Due: ty-check

refactor(tools): migrate deprecated `Resource` implementations as prebuilt tools under `zyx.tools`
  zyx/tools/__init__.py
  zyx/tools/code.py
  zyx/tools/memory/__init__.py
  zyx/tools/memory/chroma.py
  zyx/tools/memory/qdrant.py
  zyx/tools/tool.py
Due: ty-check

refactor(nav): update navigation structure in zensical.toml to replace 'Snippets' with 'Attachments' and 'Resources' with 'Tools'; add 'Run' operation to semantic operations section
  zensical.toml
Due: none

fix(stream): correct stream handling with dedicated threading support for synchronous operations; implement stream context management and ensure proper closure of streams to prevent resource leaks.
  zyx/_graph/__init__.py
  zyx/_utils/_outputs.py
  zyx/stream.py
Due: ty-check

chore(ty): clear `ty` type checking issues
  examples/semantic-operations/make.py
  tests/test_graph_nodes.py
  tests/test_processing_messages.py
  tests/test_processing_outputs_models.py
  tests/test_utils_outputs.py
  zyx/tools/__init__.py
  zyx/tools/code.py
  zyx/tools/memory/__init__.py
  zyx/tools/tool.py
Due: ty-check

chore: remove trailing whitespace
  docs/core-concepts/tools.md
Due: none

chore(versioning): migrate back to standard hatchling versioning over dynamic for version `1.0.23` && bump deps
  pyproject.toml
  uv.lock
Due: uv-lock-check, uv-sync-check

chore(version): bump version to `1.0.24` and exclude `/tests` and `/examples` from sdist packaging
  pyproject.toml
Due: uv-lock-check, uv-sync-check

fix(docs): update references from `Snippets` to `Attachments` in documentation; add example for using `zyx.attach()` for including Pythonic objects as attachments.
  readme.md
  uv.lock
Due: uv-lock-check, uv-sync-check

feat(confidence): add rich representation for Confidence class to enhance visual output with detailed attributes
  zyx/_utils/_confidence.py
  zyx/_utils/_strategies/_editable.py
Due: ty-check

chore: bump version to 1.0.25
  pyproject.toml
  uv.lock
Due: uv-lock-check, uv-sync-check

feat(docs): enhance README with example outputs and add script to validate examples in readme.md
  readme.md
  scripts/run_readme_examples.py
Due: ty-check

chore: include attachments as compatible input types within context && bump to 1.0.26
  pyproject.toml
  uv.lock
  zyx/_types.py
Due: uv-lock-check, uv-sync-check, ty-check

chore(docs): just a few documentation updates
  docs/core-concepts/attachments.md
  docs/core-concepts/semantic-operations.md
  docs/core-concepts/targets.md
  docs/core-concepts/tools.md
  docs/semantic-operations/edit.md
  docs/semantic-operations/expressions.md
  docs/semantic-operations/make.md
  docs/semantic-operations/parse.md
  docs/semantic-operations/query.md
  docs/semantic-operations/run.md
  docs/semantic-operations/select.md
  docs/semantic-operations/validate.md
Due: none

chore: switch from `pre-commit` to `prek`
  pyproject.toml
  uv.lock
Due: uv-lock-check, uv-sync-check

fix(context): ensure tools are initialized as an empty list when not provided
  zyx/context.py
Due: ty-check

chore: switch from `pre-commit` to `prek` & bump version to 1.0.27 in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: uv-lock-check, uv-sync-check

chore: plus ultra
  AGENTS.md
Due: none

fix: bump version to `1.0.28` && add error handling when using snippets in case `pydantic_ai.messages.DocumentUrl` is not supported for a model provider.
  pyproject.toml
  uv.lock
  zyx/_graph/_nodes.py
Due: uv-lock-check, uv-sync-check, ty-check

fix: update alias import for `Instructions` from `pydantic_ai.agent` to `pydantic_ai.agent._abstract` && push `v1.0.29`
  pyproject.toml
  uv.lock
  zyx/_aliases.py
Due: uv-lock-check, uv-sync-check, ty-check

chore: bump version to `1.0.30`, update `pydantic-ai-slim` dependency to `1.84.0`, and modify import for `Instructions` to `AgentInstructions` in `_aliases.py` and `_types.py`
  pyproject.toml
  uv.lock
  zyx/_aliases.py
  zyx/_types.py
Due: uv-lock-check, uv-sync-check, ty-check

chore: ruff
  scripts/run_readme_examples.py
  zyx/_aliases.py
  zyx/_types.py
Due: ty-check

chore(refactor): init ``zyx.beta`` for harness & v1.1.0 API refactor && pre-fill``zyx.beta.core.aliases`` with commonly used ``pydantic_ai`` components and types.
  uv.lock
  zyx/beta/__init__.py
  zyx/beta/core/__init__.py
  zyx/beta/core/aliases.py
  zyx/beta/core/exceptions.py
Due: uv-lock-check, uv-sync-check, ty-check

chore: add `.workspace/` to .gitignore for personal development files
  .gitignore
Due: none
